---
export interface Props {
	lang: string;
}

const { lang } = Astro.props;
const english = lang === 'en' || lang == null;
const rootLink = english ? '/' : '/it';

const thisYear = new Date().getFullYear();
import { WEBSITE_NAME, FAVICON } from "../../config";

//import Logo from "./Logo.astro"
import AstroIcon from "../platforms/AstroIcon.astro";
import Deno from "../platforms/Deno.astro";
import Github from "../platforms/Github.astro";
import Linkedin from "../platforms/Linkedin.astro";

import "../../styles/footer.css";
---

<footer class="row">
	<div id="footer-brand" class="row">
		<a href={rootLink}>
			<img src={FAVICON} alt="Alfred" class="rounded-circle greyscale">
		</a>
		<span class="text-muted">&copy; {thisYear} {WEBSITE_NAME}</span>
	</div>

	<ul class="row">
		<li>
      <AstroIcon />
		</li>
		<li>
      <Deno />
		</li>
		<li>
      <Github lang={lang}/>
		</li>
		<li>
      <Linkedin />
		</li>
	</ul>

</footer>
