---
export interface Props {
	lang: string;
  logo: string;
}

const { lang, logo } = Astro.props;
const english = lang === "en" || lang == null;

const rootLink = english ? '/' : `/${lang}`;

const about = english ? "About" : `Info ${lang}`;
const aboutLink = english ? "/aboutme" : `/aboutme/${lang}`;

const contact = english ? "Contacts" : "Contatti";
const contactLink = english ? "/contacts" : `/contacts/${lang}`;

import { WEBSITE_NAME } from '../../config';
import Bootstrap from "../head/Bootstrap.astro";
---
<Bootstrap />

<nav class="navbar navbar-expand-lg sticky-top bg-light navbar-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img
				src={logo}
				class="d-inline-block align-text-center"
				alt="logo"
				width="40px"
				height="40px"
			/>
			{ WEBSITE_NAME }
		</a>
		<div id="navbar-collapse" class="collapse navbar-collapse">
			<div class="d-flex navbar-nav">
				<div id="theme-selection" class="nav-item my-auto">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="25"
						height="25"
						viewBox="0 0 20 20"
					>
					<path
							fill-rule="evenodd"
							d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
							clip-rule="evenodd"></path>
					</svg>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="25"
						height="25"
						viewBox="0 0 20 20"
					>
					<path
							d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
						></path>
					</svg>
				</div>
				<a class="nav-link active" href={rootLink}>Home</a>
				<a class="nav-link" href={aboutLink}>{about}</a>
				<a class="nav-link" href={contactLink}>{contact}</a>
			</div>
		</div>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbar-collapse"
			aria-controls="navbar-collapse"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>
