---
export interface Props {
	isNavStr: string;
    rootLink?: string;
    locale?: string;
}

import { getRelativeLocaleUrl } from 'astro:i18n';

let { isNavStr, rootLink, locale } = Astro.props;
if(rootLink == null){
    if(locale == null){
        locale = Astro.currentLocale;
    }
    rootLink = getRelativeLocaleUrl(locale, "/");
}

const isNav = isNavStr === 'true';
const thisYear = new Date().getFullYear();
const imgClass = !isNav ? 'rounded-circle greyscale' : '';

import { WEBSITE_NAME } from "@config";

import '@styles/logo.css';
---

<div id="brand" class="row" data-isnav={isNavStr}>
    <a href={rootLink}>
      <div id="logo" class={imgClass}></div>
    </a>
    <span>
      <span class={isNav ? 'hidden' : null}>
        &copy; {thisYear}&nbsp;
      </span>
      {WEBSITE_NAME}
    </span>
</div>
