---
export interface Props {
	lang: string;
}

const { lang } = Astro.props;
const english = lang === "en" || lang == null;

import { FAVICON, WEBSITE_NAME  } from "../../config";
import "../../styles/navbar.css"
import "../../styles/tooltip.css";

const rootLink = english ? '/' : `/${lang}`;
const about = english ? "About" : "Info";
const aboutLink = english ? "/aboutme" : `/aboutme/${lang}`;
const contact = english ? "Contacts" : "Contatti";
const contactLink = english ? "/contacts" : `/contacts/${lang}`;

const currentPage = Astro.url.toString();
const thisPage = currentPage.endsWith("/") ? currentPage : `${currentPage}/`;

const lightTip = english ? "Turn on the lights" : "Accendi la luce";
const darkTip = english ? "Turn off the lights" : "Spegni la luce";

const englishClass = english ? "hidden tooltip" : "tooltip";
const italianClass = english ? "tooltip" : "hidden tooltip";

---
<script src="../../scripts/themeSwitch.ts" />
<script src="../../scripts/mobileLanguage.ts" />

<nav class="navbar row">
  <a id="navbar-brand" class="row" href={rootLink}>
    <img
      src={FAVICON}
      alt="logo"
    />
    { WEBSITE_NAME }
  </a>

  <div class="row">
    <div id="theme-selection">
      <!-- light theme -->
      <div class="hidden tooltip" id="light-theme">
        <i class="fa-solid fa-sun fa-2xl"></i>
        <span class="tooltiptext-bottom">{lightTip}</span>
      </div>
      <!-- dark theme -->
      <div class="hidden tooltip" id="dark-theme"> 
        <i class="fa-solid fa-moon fa-2xl"></i>
        <span class="tooltiptext-bottom">{darkTip}</span>
      </div>
    </div>

    <!-- useful links -->
    <ul class="row" id="header-links">
      <li>
        <a href={rootLink}>Home</a>
      </li>
      <li>
        <a href={aboutLink}>{about}</a>
      </li>
      <li>
        <a href={contactLink}>{contact}</a>
      </li>
    </ul>

    <!-- language selection -->
    <div id="language-selection">
      <!-- english -->
      <a href={thisPage.substring(0,thisPage.indexOf("/it"))} class={englishClass}>
        <i class="fa-solid fa-chess-queen fa-2xl"></i>
        <span class="tooltiptext-bottom">Read in english</span>
      </a>
      <!-- italian -->
      <a href={thisPage + "it"} class={italianClass}>
        <i class="fa-solid fa-pizza-slice fa-2xl"></i>
        <span class="tooltiptext-bottom">Leggi in italiano</span>
      </a>

    </div>
    <!--<button id="collapseButton" type="button" />-->
  </div>
</nav>
