---
export interface Props {
  title: string;
  num: string;
  href: string;
}

const { title, num, href } = Astro.props;

import Href from "../Href.astro";
import "../../styles/timecard.css";
---
<div class="timecard" data-number={num} style=`--index: ${num};`>
  {href != null ? 
    <Href href={href}>
      <h3 id={title}>{title}</h3>
    </Href>
    :
    <h3 id={title}>{title}</h3>
  }

  <article>
    <slot />
  </article>
</div>
