---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
import { FAVICON } from "../../config";
import "../../styles/variables.css";
import "../../styles/fonts.css";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href={FAVICON} />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- fontawesome -->
<script src="https://kit.fontawesome.com/a1635545b7.js" crossorigin="anonymous"></script>

<!-- github fonts -->
<link rel="preload" href="Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="Hubot-Sans.woff2" as="font" type="font/woff2" crossorigin>
