---
export interface Props {
	title: string;
	lang: string;
}

import Head from "../components/Head.astro";
//import Header from "../components/Header.astro";
//import Footer from "../components/Footer.astro";

import { favicon } from "../../public/websiteConfig.json";

const { title, lang } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <Head favicon={favicon} title={title}>
  </head>
  <body>
    <!--<Header lang={lang} logo={favicon}/>-->
		<slot />
		<!--<Footer lang={lang}/>-->
  </body>
</html>
